Ye-seul Oh

### 1번
입력받은 숫자의 구구단을 출력하는 my_func1 이라는 이름을 가진 함수를 작성하라. 

input:
my_func1(6)

output:

6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [2]:
#1번 내풀이

def my_func1(a):
    for x in range(1,11):
        result = print(f"{a} x {x} = {a*x}")
    return result

my_func1(6)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

### 2번
리스트에서 연속된 숫자를 제거하는 코드를 작성하시오. 

입력 리스트:
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

중복 제거후:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [3]:
#2번 내풀이

a=[0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4]
for i in range(len(a)-1):
    if i<len(a)-1 and a[i] == a[i+1]:
        del a[i]
        
print(a)

[0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 4]

In [5]:
#2번 정답   (리스트a에서 빼지 말고 새로 리스트를 만들어서 넣으면 됨)

b = []
a=[0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4]
for i in range(1,len(a)):
    if a[i-1] != a[i]:
         b.append(a[i])
            
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [4]:
#2번 정답 (<03-3 for문: 리스트 내포>로 간단하게 만들기)

a=[0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4]
b = [a[i] for i in range(1,len(a)) if a[i-1] != a[i]]

print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

### 3번
문자열에서 문자와 인덱스를 출력하는 코드를 작성하시오. 

입력 문자열: w3resource

예상 출력:

Current character w position at 0

Current character 3 position at 1

Current character r position at 2

Current character c position at 8

Current character e position at 9

In [3]:
#3번 내풀이

a="w3resource"
for n in range(0,3):
    print("Current character",a[n], "position at",n)
for n in range(8,10):
    print("Current character",a[n], "position at",n)

Current character w position at 0
Current character 3 position at 1
Current character r position at 2
Current character c position at 8
Current character e position at 9

In [3]:
#3번 정답

def my_func3(a):
    for i in range(len(a)):
        print(f"Current character {a[i]} position at {i}")
        
my_func3("w3resource")

Current character w position at 0
Current character 3 position at 1
Current character r position at 2
Current character e position at 3
Current character s position at 4
Current character o position at 5
Current character u position at 6
Current character r position at 7
Current character c position at 8
Current character e position at 9

In [6]:
#3번 enumerate(순서가 있는 자료형) 함수 쓰기    (enumerate:열거하다)

def my_func3(a):
    for idx, i in enumerate(a):
        print(f"Current character {i} position at {idx}")
    
my_func3("w3resource")

Current character w position at 0
Current character 3 position at 1
Current character r position at 2
Current character e position at 3
Current character s position at 4
Current character o position at 5
Current character u position at 6
Current character r position at 7
Current character c position at 8
Current character e position at 9

**********************

### 1.

Hello, World! 문자열을 출력하시오.

In [68]:
user = input("입력:")
print("Hello,World!")

입력: hey

Hello,World!

### 2.

다음과 같은 형태를 출력하는 코드를 작성하시오.
*****
****
***
**
*

In [53]:
user = input("입력:")
num = int(user)

a = list(range(1,num+1))
for i in a[::-1]:
    print("*"*i)

입력: 5

*****
****
***
**
*

### 3.

콤마가 들어있는 숫자의 문자열을 받아서 숫자로 바꾸어주는 convert라는 함수를 정의하시오.
예시) a = “100,000”
convert(a)
100000
convert(“12,345,456”)
12345456

In [59]:
def convert():
    user = input("콤마가 들어있는 숫자의 문자열 입력:")
    b = user.replace(",","")
    result = int(b)
    return result
convert()

콤마가 들어있는 숫자의 문자열 입력: 100,000

100000

### 4.

1에서 100까지의 자연수가 모두 들어있는 리스트를 생성하고, 리스트의 평균 값을 구하는 func_average 함수를 작성하시오. 
예시) a = [1,2,3,4,5]
func_average(a)

In [12]:
a = list(range(1,101))

def func_average(args):
    return sum(args)/len(args)

func_average(a)

50.5

In [2]:
#4번 응용 풀이(함수)

def func_average2():
    user = input("자연수 입력:")
    x = int(user)
    y= list(range(1,x+1))
    result = sum(y)/len(y)
    return print("평균:", result)

func_average2()

자연수 입력: 100

평균: 50.5

### 5.

for 문을 사용해서 아래와 같이 0.1 에서 0.9 까지 0.1 단위로 출력하는 코드를 작성하시오. 
0.1
0.2
0.3
0.4
…
0.9

In [14]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

### 6.

양의 정수만 입력으로 받고 그 수의 자릿수를 출력하는 digit이라는 이름의 함수를 작성하라.
예시) digit(3)
1
digit(649)
3

In [58]:
def digit():
    user = input("양의 정수 입력:")
    a = str(user)     #입력받는 입력값은 모두 문자로 인식하므로 필요 없는 수식
    b = len(a)
    return print(f"자릿수 출력: {b}")

digit()

양의 정수 입력: 649

자릿수 출력: 3

### 7.

다음의 파일 이름이 저장된 리스트에서 확장자가 .py 인 파일이름만 한 줄로 출력하는 코드를 작성하라.
예시) files = [“input.py”, “main.c”, “main.py”, “calc.f90”, “string.py”]
출력) input.py main.py string.py

In [65]:
files = ['input.py', 'main.c', 'main.py', 'calc.f90' , 'string.py']
for i in files:
    split = i.split(".")
    if split[1] == "py":
        print(i, end=" ")

input.py main.py string.py

### 8.

자연수 1에서 1000까지 자연수 중에 3의 배수에 해당하는 자연수를 제외한 자연수가 들어 있는 리스트를 구하는 코드를 작성하라.

In [23]:
b=[]
a = list(range(1,1001))
for i in a:
    if not i%3==0:
        b.append(i)
print(b)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100, 101, 103, 104, 106, 107, 109, 110, 112, 113, 115, 116, 118, 119, 121, 122, 124, 125, 127, 128, 130, 131, 133, 134, 136, 137, 139, 140, 142, 143, 145, 146, 148, 149, 151, 152, 154, 155, 157, 158, 160, 161, 163, 164, 166, 167, 169, 170, 172, 173, 175, 176, 178, 179, 181, 182, 184, 185, 187, 188, 190, 191, 193, 194, 196, 197, 199, 200, 202, 203, 205, 206, 208, 209, 211, 212, 214, 215, 217, 218, 220, 221, 223, 224, 226, 227, 229, 230, 232, 233, 235, 236, 238, 239, 241, 242, 244, 245, 247, 248, 250, 251, 253, 254, 256, 257, 259, 260, 262, 263, 265, 266, 268, 269, 271, 272, 274, 275, 277, 278, 280, 281, 283, 284, 286, 287, 289, 290, 292, 293, 295, 296, 298, 299, 301, 302, 304, 305, 307, 308, 310, 311, 313, 314, 316, 317, 319, 320, 322, 323, 325, 326, 328, 329, 331, 332, 334, 335, 337, 338, 340, 341, 343, 344, 346, 347, 349, 350, 352, 353, 355, 356, 358, 359, 361, 362, 364, 365, 367, 368, 370, 371, 373, 374, 376, 377, 379, 380, 382, 383, 385, 386, 388, 389, 391, 392, 394, 395, 397, 398, 400, 401, 403, 404, 406, 407, 409, 410, 412, 413, 415, 416, 418, 419, 421, 422, 424, 425, 427, 428, 430, 431, 433, 434, 436, 437, 439, 440, 442, 443, 445, 446, 448, 449, 451, 452, 454, 455, 457, 458, 460, 461, 463, 464, 466, 467, 469, 470, 472, 473, 475, 476, 478, 479, 481, 482, 484, 485, 487, 488, 490, 491, 493, 494, 496, 497, 499, 500, 502, 503, 505, 506, 508, 509, 511, 512, 514, 515, 517, 518, 520, 521, 523, 524, 526, 527, 529, 530, 532, 533, 535, 536, 538, 539, 541, 542, 544, 545, 547, 548, 550, 551, 553, 554, 556, 557, 559, 560, 562, 563, 565, 566, 568, 569, 571, 572, 574, 575, 577, 578, 580, 581, 583, 584, 586, 587, 589, 590, 592, 593, 595, 596, 598, 599, 601, 602, 604, 605, 607, 608, 610, 611, 613, 614, 616, 617, 619, 620, 622, 623, 625, 626, 628, 629, 631, 632, 634, 635, 637, 638, 640, 641, 643, 644, 646, 647, 649, 650, 652, 653, 655, 656, 658, 659, 661, 662, 664, 665, 667, 668, 670, 671, 673, 674, 676, 677, 679, 680, 682, 683, 685, 686, 688, 689, 691, 692, 694, 695, 697, 698, 700, 701, 703, 704, 706, 707, 709, 710, 712, 713, 715, 716, 718, 719, 721, 722, 724, 725, 727, 728, 730, 731, 733, 734, 736, 737, 739, 740, 742, 743, 745, 746, 748, 749, 751, 752, 754, 755, 757, 758, 760, 761, 763, 764, 766, 767, 769, 770, 772, 773, 775, 776, 778, 779, 781, 782, 784, 785, 787, 788, 790, 791, 793, 794, 796, 797, 799, 800, 802, 803, 805, 806, 808, 809, 811, 812, 814, 815, 817, 818, 820, 821, 823, 824, 826, 827, 829, 830, 832, 833, 835, 836, 838, 839, 841, 842, 844, 845, 847, 848, 850, 851, 853, 854, 856, 857, 859, 860, 862, 863, 865, 866, 868, 869, 871, 872, 874, 875, 877, 878, 880, 881, 883, 884, 886, 887, 889, 890, 892, 893, 895, 896, 898, 899, 901, 902, 904, 905, 907, 908, 910, 911, 913, 914, 916, 917, 919, 920, 922, 923, 925, 926, 928, 929, 931, 932, 934, 935, 937, 938, 940, 941, 943, 944, 946, 947, 949, 950, 952, 953, 955, 956, 958, 959, 961, 962, 964, 965, 967, 968, 970, 971, 973, 974, 976, 977, 979, 980, 982, 983, 985, 986, 988, 989, 991, 992, 994, 995, 997, 998, 1000]

In [33]:
#8번 (리스트 내포)

a = list(range(1,1001))
b= [i for i in a if not i%3==0]

print(b)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100, 101, 103, 104, 106, 107, 109, 110, 112, 113, 115, 116, 118, 119, 121, 122, 124, 125, 127, 128, 130, 131, 133, 134, 136, 137, 139, 140, 142, 143, 145, 146, 148, 149, 151, 152, 154, 155, 157, 158, 160, 161, 163, 164, 166, 167, 169, 170, 172, 173, 175, 176, 178, 179, 181, 182, 184, 185, 187, 188, 190, 191, 193, 194, 196, 197, 199, 200, 202, 203, 205, 206, 208, 209, 211, 212, 214, 215, 217, 218, 220, 221, 223, 224, 226, 227, 229, 230, 232, 233, 235, 236, 238, 239, 241, 242, 244, 245, 247, 248, 250, 251, 253, 254, 256, 257, 259, 260, 262, 263, 265, 266, 268, 269, 271, 272, 274, 275, 277, 278, 280, 281, 283, 284, 286, 287, 289, 290, 292, 293, 295, 296, 298, 299, 301, 302, 304, 305, 307, 308, 310, 311, 313, 314, 316, 317, 319, 320, 322, 323, 325, 326, 328, 329, 331, 332, 334, 335, 337, 338, 340, 341, 343, 344, 346, 347, 349, 350, 352, 353, 355, 356, 358, 359, 361, 362, 364, 365, 367, 368, 370, 371, 373, 374, 376, 377, 379, 380, 382, 383, 385, 386, 388, 389, 391, 392, 394, 395, 397, 398, 400, 401, 403, 404, 406, 407, 409, 410, 412, 413, 415, 416, 418, 419, 421, 422, 424, 425, 427, 428, 430, 431, 433, 434, 436, 437, 439, 440, 442, 443, 445, 446, 448, 449, 451, 452, 454, 455, 457, 458, 460, 461, 463, 464, 466, 467, 469, 470, 472, 473, 475, 476, 478, 479, 481, 482, 484, 485, 487, 488, 490, 491, 493, 494, 496, 497, 499, 500, 502, 503, 505, 506, 508, 509, 511, 512, 514, 515, 517, 518, 520, 521, 523, 524, 526, 527, 529, 530, 532, 533, 535, 536, 538, 539, 541, 542, 544, 545, 547, 548, 550, 551, 553, 554, 556, 557, 559, 560, 562, 563, 565, 566, 568, 569, 571, 572, 574, 575, 577, 578, 580, 581, 583, 584, 586, 587, 589, 590, 592, 593, 595, 596, 598, 599, 601, 602, 604, 605, 607, 608, 610, 611, 613, 614, 616, 617, 619, 620, 622, 623, 625, 626, 628, 629, 631, 632, 634, 635, 637, 638, 640, 641, 643, 644, 646, 647, 649, 650, 652, 653, 655, 656, 658, 659, 661, 662, 664, 665, 667, 668, 670, 671, 673, 674, 676, 677, 679, 680, 682, 683, 685, 686, 688, 689, 691, 692, 694, 695, 697, 698, 700, 701, 703, 704, 706, 707, 709, 710, 712, 713, 715, 716, 718, 719, 721, 722, 724, 725, 727, 728, 730, 731, 733, 734, 736, 737, 739, 740, 742, 743, 745, 746, 748, 749, 751, 752, 754, 755, 757, 758, 760, 761, 763, 764, 766, 767, 769, 770, 772, 773, 775, 776, 778, 779, 781, 782, 784, 785, 787, 788, 790, 791, 793, 794, 796, 797, 799, 800, 802, 803, 805, 806, 808, 809, 811, 812, 814, 815, 817, 818, 820, 821, 823, 824, 826, 827, 829, 830, 832, 833, 835, 836, 838, 839, 841, 842, 844, 845, 847, 848, 850, 851, 853, 854, 856, 857, 859, 860, 862, 863, 865, 866, 868, 869, 871, 872, 874, 875, 877, 878, 880, 881, 883, 884, 886, 887, 889, 890, 892, 893, 895, 896, 898, 899, 901, 902, 904, 905, 907, 908, 910, 911, 913, 914, 916, 917, 919, 920, 922, 923, 925, 926, 928, 929, 931, 932, 934, 935, 937, 938, 940, 941, 943, 944, 946, 947, 949, 950, 952, 953, 955, 956, 958, 959, 961, 962, 964, 965, 967, 968, 970, 971, 973, 974, 976, 977, 979, 980, 982, 983, 985, 986, 988, 989, 991, 992, 994, 995, 997, 998, 1000]

### 9.

1 부터 10,000 까지 7 이라는 숫자가 총 몇번 나오는가? 7 이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 7 이라는 숫자를 모두 카운팅 해야 한다. 
(※ 예를들어 7707 은 3, 7777 은 4 로 카운팅 해야 함)

In [25]:
a = list(range(1,10001))

result=0
for i in a:
    b = str(i)
    c = b.count("7")
    result += c

print(result)

4000