Ye-seul Oh

### <01. 시작> 001 - 010

In [5]:
print("Hello World")

Hello World

In [6]:
print("Mary\'s cosmetics")

Mary's cosmetics

In [7]:
print("Mary's cosmetics")

Mary's cosmetics

In [11]:
print("신씨가 소리질렀다.\"도둑이야.\"")

신씨가 소리질렀다."도둑이야."

In [12]:
print('신씨가 소리질렀다."도둑이야."')

신씨가 소리질렀다."도둑이야."

In [17]:
print('"C:\Windows"')

"C:\Windows"

In [18]:
# /n : 줄바꿈,  /t : 탭 을 의미한다.

In [19]:
# 오늘은 일요일

In [21]:
print("naver;kakal;sk;samsung")

naver;kakal;sk;samsung

In [22]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [25]:
print("first",end=" ");print("second")

first second

In [27]:
print(5/3)

1.6666666666666667

### <02. 변수> 011 - 020

In [29]:
s=50000
result = s*10
print(result)

500000

In [33]:
info={"시가":"298조","현재가":50000,"PER":15.79}
print(info)

{'시가': '298조', '현재가': 50000, 'PER': 15.79}

In [37]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [38]:
print(2+2*3)

8

In [39]:
a="132"
type(a)

str

In [41]:
num_str = "720"
int(num_str)
type(int(num_str))

int

In [43]:
num = 100
str(num)
print(str(num))

100

In [44]:
st="15.79"
float(st)

15.79

In [52]:
year = "2020"
int(year)
print(int(year)-3,int(year)-2,int(year)-1)             #019 주목

2017 2018 2019

In [53]:
a=48584
result=a*36
print(result)

1749024

### <03. 문자열> 021-030

In [54]:
letters = 'python'
print(letters[0], letters[2])

p t

In [55]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [81]:
string = "홀짝홀짝홀짝"                          #023 문자열 슬라이싱
print(string[::2])                              #슬라이싱[처음:마지막+1:간격]

홀홀홀

In [63]:
string = "홀짝홀짝홀짝"                        #023 응용
print(string[1::2])

짝짝짝

In [79]:
string = "PYTHON"                             #024 문자열 슬라이싱
print(string[::-1])                           #슬라이싱[ : : - 간격 ] -는 역순

NOHTYP

In [87]:
phone_number = "010-1111-2222"           #025 문자열 관련함수 (바꾸기 replace)
p2=phone_number.replace("-"," ")
p3=phone_number.replace("-","")
print(p2,"/", p3)

010 1111 2222 / 01011112222

In [86]:
url = "http://sharebook.kr"                #027 문자열 관련함수 (나누기 split)
url_split = url.split(".")
print(url_split)
print(url_split[-1])

['http://sharebook', 'kr']
kr

In [92]:
>> lang = 'python'
>> lang[0] = 'P'                       #028 문자열은 immutable(수정 불가)
>> print(lang)

SyntaxError: invalid syntax (<ipython-input-92-de8215fc9c72>, line 1)

In [100]:
string = 'abcdfe2a354a32a'
s1=string.replace('a','A')
s2=string.upper()
print(s1, "/", s2)

Abcdfe2A354A32A / ABCDFE2A354A32A

In [102]:
string = 'abcd'
new_string = string.replace('b', 'B')
print(string)
print(new_string)

abcd
aBcd

### <03. 문자열 > 031-040

In [104]:
a = "3"
b = "4"
print(a + b)

c = 3
d = 4
print(c + d)

34
7

In [105]:
print("Hi" * 3)

HiHiHi

In [106]:
print("-"*80)

--------------------------------------------------------------------------------

In [108]:
t1 = 'python'
t2 = 'java'
add = t1 +" "+ t2 +" "
print(add*4)

python java python java python java python java

In [112]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:",name1,"나이:",age1)
print("이름:",name2,"나이:",age2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [114]:
name1 = "김민수"                                    #036 문자열 .format( , )
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [115]:
상장주식수 = "5,969,782,550"
수정=상장주식수.replace(",","")
print(int(수정))

5969782550

In [116]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [119]:
data = "   삼성전자    "                #040 문자열 관련 함수 (공백지우기 strip)
new = data.strip()
print(new)

삼성전자

### <03.문자열> 041-050

In [120]:
ticker = "btc_krw"
new = ticker.upper()
print(new)

BTC_KRW

In [122]:
ticker = "BTC_KRW"
new = ticker.lower()
print(new)

btc_krw

In [123]:
a = "hello"
a = a.capitalize()
print(a)

Hello

In [125]:
a = "hello world"
a1 = a.split()
print(a1)

['hello', 'world']

In [126]:
ticker = "btc_krw"
new=ticker.split("_")
print(new)

['btc', 'krw']

In [127]:
data = "039490     "
new = data.rstrip()
print(new)

039490

### <04.리스트> 051-060

In [142]:
movie_rank=["닥터스트레인지","스플릿","럭키"]

In [143]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [144]:
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [145]:
movie_rank.remove('럭키')                  #또는 del movie_rank[3]
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [149]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
new = lang1 + lang2
print(new)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [152]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:",max(nums),"min:",min(nums))      #변수.max() 형태가 아님.

max: 7 min: 1

In [154]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))                              #변수.sum() 형태가 아님.

15

In [157]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", 
        "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [160]:
nums = [1, 2, 3, 4, 5]                       #리스트 숫자 요소들의 평균값 구하기
aver = sum(nums) / len(nums)
print(aver)

3.0

### <04.리스트> 061-070

In [161]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [166]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]         #슬라이싱을 이용한 홀수 출력
print(nums[::2])

[1, 3, 5, 7, 9]

In [164]:
result=[]                                     #for문을 이용한 홀수 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in nums:
    if i%2 == 1:
        result.append(i)
print(result)

[1, 3, 5, 7, 9]

In [167]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]         #슬라이싱을 이용한 짝수 출력
print(nums[1::2])

[2, 4, 6, 8, 10]

In [168]:
result=[]                                       #for문을 이용한 짝수 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in nums:
    if i%2 == 0:
        result.append(i)
print(result)

[2, 4, 6, 8, 10]

In [8]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]      #슬라이싱을 이용한 짝수 역방향 출력

print(nums[::-2])

[10, 8, 6, 4, 2]

In [170]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[-1])

삼성전자 Naver

### <05.튜플> 071-080

In [172]:
my_variable=() 
type(my_variable)

tuple

In [174]:
movie_rank  =("닥터 스트레인지", "스플릿", "럭키")

In [179]:
fake_tup = (1)
type(fake_tup)

int

In [181]:
real_tup = (1,)                            #073요소가 하나인 튜플은 쉼표 입력
type(real_tup)

tuple

In [182]:
t = ('a', 'b', 'c')

In [183]:
t = ('A', 'b', 'c')

In [184]:
print(t)

('A', 'b', 'c')

In [196]:
inter = a, b, c
new = list(inter)                                    # 왜 오류?

TypeError: 'list' object is not callable

In [198]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
neww = tuple(interest)
print(neww)

('삼성전자', 'LG전자', 'SK Hynix')

In [199]:
temp = ('apple', 'banana', 'cake')                     #079 튜플 언팩킹
a, b, c = temp
print(a, b, c)

apple banana cake

In [212]:
data = tuple(range(2, 100, 2))        #080 range 애용한 1 부터 99까지 짝수 튜플
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [10]:
data = list(range(2, 100, 2))      #응용 range 애용한 1 부터 99까지 짝수 리스트
print( data )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [213]:
result=[]                              # range(시작숫자, 끝숫자+1, 간격)
for i in range(2,100,2):
    result.append(i)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [205]:
result=[]                            # for문을 이용한 1 부터 99까지 짝수 튜플
for i in range(1,99):
    if i % 2 ==0:
        result.append(i)
    a = tuple(result)
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

### <06.딕셔너리> 081-090

In [215]:
a, b, *c = (0, 1, 2, 3, 4, 5)                     #081 튜플 언팩킹과 *
print(a,b,c)

0 1 [2, 3, 4, 5]

In [217]:
scores = [1,2,3,4,5,6,7,8,9,10]
*valid_score , a, b = scores
print(valid_score)

[1, 2, 3, 4, 5, 6, 7, 8]

In [219]:
scores = [1,2,3,4,5,6,7,8,9,10]
a , b , *valid_score = scores
print(valid_score)

[3, 4, 5, 6, 7, 8, 9, 10]

In [221]:
temp={}

In [227]:
price = {"메로나" : 1000, "폴라포" :1200 , "빵빠레" : 1800} 
price["죠스바"] = 1200
price["월드콘"] = 1500                        #086 딕셔너리 요소 추가 
print(price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### <06.딕셔너리> 091-100

### <07.분기문> 101-110

In [229]:
if 4 < 3:
    print("Hello World")          #107 조건을 만족하지 않기 떄문에 출력되지 않음

In [230]:
if True :           #참
    print ("1")        #출력
    print ("2")        #출력
else :             #거짓
    print("3")         #출력x
print("4")        #조건문과 상관 없음. #출력

1
2
4

In [231]:
if True :           #참
    if False:            #거짓
        print("1")           #출력x
        print("2")           #출력x
    else:                #참
        print("3")           #출력
else :              #거짓
    print("4")           #출력x
print("5")          #조건문과 상관없이 출력

3
5

### <07.분기문> 121-120

In [232]:
user=input("입력:")
print(user*2)

입력: 안녕하세요

안녕하세요안녕하세요

In [235]:
user1=input("숫자를 입력하세요:")
print(int(user1)+10)      #112 입력받은 문자는 '문자열'로 인식하므로 int로 바꿔줌

숫자를 입력하세요: 30

40

In [237]:
user2=input()
if int(user2) % 2 ==0:   #113 입력받은 문자는 '문자열'로 인식하므로 int로 바꿔줌
    print("짝수")
else:
    print("홀수")

 30

짝수

In [1]:
user3=input("입력값:")                               #114 정석 풀이
result = int(user3) + 2
if result>225:
    print("출려값:",225)
else:
    print("출력값:",result)

입력값: 100

출력값: 120

In [4]:
users=input("입력값:")                            #114 풀이2
if int(users)<=225:
    print("출력값:",int(users)+20)
else:
    print("출력값:",225)

입력값: 50

출력값: 70

In [8]:
a = input("입력값:")                            #114 정석 풀이  (elif 쓰기)
result = int(a) - 20

if 0 <= int(a) <= 225:
    print(result)
elif 0 > int(a):
    print(0)
else:
    print(225)

입력값: 500

225

In [7]:
a = input("입력값:")                              #114 풀이2  (elif 없이 풀어쓰기)
result = int(a) - 20

if 0 <= int(a) <= 225:
    print(result)
else:
    if 0 > int(a):
        print(0)
    else:
        print(225)

입력값: 500

225

In [9]:
time=input("현재시간:")
if time[-2:] == 0:                     #116 참고
    print('정각')
else:
    print('정각x')

현재시간: 02:15

정각x

In [10]:
favor=input("what's your favorite food = ?:")
fruit = ["사과", "포도", "홍시"]
if favor in fruit:                        #117 요소 in list
    print("정답")
else:
    print("오답")

what's your favorite food = ?: 사과

정답

In [11]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input("입력:")
if a in warn_investment_list:           #118 요소 in list                      
    print("투자 경고 종목")
else:
    print("투자 경고 종목 아님")

입력: Naver

투자 경고 종목

In [ ]:
season = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
fav = input("제가 좋아하는 계절은?:")

if fav in season:                       #119 입력 값이 key
    print("정답")
else:
    print("오답")

In [ ]:
fruits = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
fave = input("좋아하는 과일은?:")

if fave in fruits.values():                 #119 입력 값이 values
    print("정답")                          #딕셔너리의 values는  a.values()
else:
    print("오답")

### <07.분기문> 121-130

In [6]:
user = input()
if user.islower():      #대소문자 판별함수. islower(변수)아니고 변수.islower()
    print(user.upper()) #대문자 변형함수. upper(변수)아니고 변수.upper()
else:
    print(user.lower())  #소문자 변형함수. lower(변수)아니고 변수.lower()

 a

A

In [7]:
user = input("score:")
if 0 <= int(user) <= 20:
    print("grade is E")
elif int(user) <= 40:
    print("grade is D")
elif int(user) <= 60:
    print("grade is C")
elif int(user) <= 80:
    print("grade is B")
else:
    print("grade is A")

score: 95

grade is A

In [8]:
환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}   #123 어려움
user = input("입력:")
num, currency = user.split()   #력값을 띄어쓰기 기준으로 나누어 각각 변수 두개에 넣은 후
print(float(num) * 환율[currency], "원")   #앞 변수는 숫자 * 뒷변수(key)는 딕셔너리에서 key에 해당하는 values 곱한다.

입력: 1000 달러

1167000.0 원

In [9]:
#124-130

### <08.반복문> 131-140

In [10]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [11]:
a=["A", "B", "C"]
for i in a:
    print(i)

A
B
C

In [13]:
a = [10,20,30]
for i in a:
    print(i)

10
20
30

In [16]:
for i in [10,20,30]:
    print(i)
    print("======")

10
======
20
======
30
======

### <08.반복문> 141-150

In [124]:
a= [100, 200, 300]
for i in a:
    print(i+10)

110
210
310

In [127]:
a = ["김밥", "라면", "튀김"]
for i in a:
    print(f"오늘의 메뉴: {i}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [129]:
a = ["SK하이닉스", "삼성전자", "LG전자"]
for i in a:
    print(len(i))

6
4
4

In [130]:
a = ['dog', 'cat', 'parrot']
for i in a:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [132]:
a =  ['dog', 'cat', 'parrot']
for i in a:
    print(i[0])

d
c
p

In [133]:
a = [1, 2, 3]
for i in a:
    print(f"3 x {i}")

3 x 1
3 x 2
3 x 3

In [134]:
a = [1, 2, 3]
for i in a:
    print(f"3 x {i} = 3*{i}")

3 x 1 = 3*1
3 x 2 = 3*2
3 x 3 = 3*3

In [135]:
a = ["가", "나", "다", "라"]
for i in a[1:]:
    print(i)

나
다
라

In [136]:
a = ["가", "나", "다", "라"]
for i in a[::2]:
    print(i)

가
다

In [137]:
a = ["가", "나", "다", "라"]
for i in a[::-1]:
    print(i)

라
다
나
가

### <08.반복문> 151-160

In [5]:
a = [3, -20, -3, 44]
for i in a:
    if i < 0:
        print(i)

-20
-3

In [9]:
a=[3, 100, 23, 44]
for i in a:
    if i % 3 == 0:
        print(i)

3

In [10]:
a=[13, 21, 12, 14, 30, 18]
for i in a:
    if i%3 ==0 and i<20:
        print(i)

12
18

In [12]:
a=["I", "study", "python", "language", "!"]
for i in a:
    if len(i)>=3:
        print(i)

study
python
language

In [13]:
a= ["A", "b", "c", "D"]
for i in a:
    if i.isupper():
        print(i)

A
D

In [14]:
a= ["A", "b", "c", "D"]
for i in a:
    if not i.isupper():
        print(i)

b
c

In [ ]:
a= ['hello.py', 'ex01.py', 'intro.hwp']
for i in a:
    b = i.split(".")              #158 따옴표 잊지 말기
    print(b[0])

In [25]:
a= ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in a:
    b = i.split(".")
    if b[1] == "h":          #159 주의!! 내용이 같다 == (변수가 같다 =)
        print(i)

intra.h
define.h

In [26]:
a= ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in a:
    b = i.split(".")
    if b[1] == "h"or b[1] == "c":          
        print(i)

intra.h
intra.c
define.h

### <08.반복문> 161-170

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [32]:
for i in range(1,31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [1]:
for i in range(0,10):            #range의 세번째 인수는 간격만되괴 역순은 안됨.
    print(99-i)               #숫자 역순이 안될 때 뺄셈을 이용하는 방법

99
98
97
96
95
94
93
92
91
90

In [36]:
for i in range(10):
    print(f"0.{i}")

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [38]:
for i in range(1,10):
    print(f"3x{i}={3*i}")

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

In [39]:
for i in range(1,10):
    if i%2 != 0:
        print(f"3x{i}={3*i}")

3x1=3
3x3=9
3x5=15
3x7=21
3x9=27

In [47]:
#168 오답
for i in range(1,11):        
    result = 0            # (1)i가 1일 때 r=0 / (3)i가 2일 때 다시 r=0 / (5)...
    result = result + i   # (2)그 0에 1더함.r=1  / (4)그 0 에 2 더함 / (6)...
print(result)

10

In [46]:
#168 정답
result = 0                 # r=0임을 먼저 선언
for i in range(1,11):      # (1)i가 1일 때 r=0 / (3)i가 2일 때 r=2인 상태 / (5)...
    result = result + i    # (2)그 0에 1더함.r=1 / (4)그 2 에 3 더함. r=5 / (6)...
print(result)

55

In [49]:
result = 0
for i in range(1,11):           #또는 range(1,11,2)를 쓰면 if문 없이
    if i%2 !=0:
        result += i             #result = result+i   축약은 result += i
print(result)

25

In [52]:
result =1
for i in range(1,11):
    result *= i           #result = result*i 의 축약은 result *= i
print(result)

3628800

### <08.반복문> 171-180

In [53]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [54]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):     # enumerate(순서ㅇ 자료형) 함수를 써도 된다
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [55]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):    
    print(len(price_list)-1-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [56]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1,len(price_list)):    
    print(100+(i-1)*10,price_list[i])     #90 + 10 * i

100 32150
110 32000
120 32500

In [58]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):         #175 방법1 (범위: 마지막 하나 덜전에 끝냄)
    print(my_list[i],my_list[i+1])      # i ~ i+1

가 나
나 다
다 라

In [59]:
my_list = ["가", "나", "다", "라"]
for i in range(1,len(my_list)):         #175 방법2 (범위: 두번째 거부터 시작)
    print(my_list[i-1],my_list[i])      # i-1 ~ i

가 나
나 다
다 라

In [60]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):        
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [66]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):        
    print(my_list[len(my_list)-1-i] , my_list[len(my_list)-1-(i+1)]) 
    
# 규칙
#글자 순서  , i 순서  -> 규칙
#   32        01       3+0=3  2+1=3
#   21        12
#   10        23

라 다
다 나
나 가

In [71]:
my_list = [100, 200, 400, 800]
for i in range(1,len(my_list)):
    print(my_list[i] - my_list[i-1])

100
200
400

In [75]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(2,len(my_list)):
    print((my_list[i-2] + my_list[i-1] + my_list[i])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [78]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility=[]
for i in range(len(low_prices)):
    result = high_prices[i]-low_prices[i]
    volatility.append(result)   #또는 통으로 vol~.append(high_prices[i]-low_prices[i])
    
print(volatility)

[50, 100, 30, 80, 0]

### <08.반복문> 181-190

In [79]:
apart=[[101,102],[201,202],[301,302]]

In [80]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [ ]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [ ]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [5]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for list2 in apart:            #list 안에 list가 요소로 있을 때 for문 두번 쓰는법
    for i in list2: 
        print(f"{i}호")

101호
102호
201호
202호
301호
302호

In [7]:
#186

apart = [ [101, 102], [201, 202], [301, 302] ]    #list는 [ : :(-역순가능)]
for list in apart[::-1]:
    for i in list: 
        print(f"{i}호")

301호
302호
201호
202호
101호
102호

In [9]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for list1 in apart[::-1]:
        for i in list1[::-1]: 
            print(f"{i}호")

302호
301호
202호
201호
102호
101호

In [10]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for list2 in apart:         #1     8
    for i in list2:         #2  5 
        print(f"{i}호")     #3  6  
        print("-"*5)        #4  7

101호
-----
102호
-----
201호
-----
202호
-----
301호
-----
302호
-----

In [11]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for list2 in apart:         #1      7
    for i in list2:         #2 4
        print(f"{i}호")     #3 5
    print("-"*5)            #     6

101호
102호
-----
201호
202호
-----
301호
302호
-----

In [12]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for list2 in apart:         #1     6     11  
    for i in list2:         #2  4  7  9  12
        print(f"{i}호")     #3  5  8  10 13 
print("-"*5)                #               14

101호
102호
201호
202호
301호
302호
-----

### <08.반복문> 191-200

In [14]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for a_list in data:
    for i in a_list:
        print(i*1.00014)               # 0.014% 는  *0.00014

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [15]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for a_list in data:
    for i in a_list:
        print(i*1.00014) 
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [18]:
#193 1차원 배열 정렬
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]
for a_list in data:
    for i in a_list:
        result.append(i*1.00014) 
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [22]:
#194  2차원 배열 정렬
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]
for a_list in data:
    first=[]
    for i in a_list:
        first.append(i*1.00014) 
    result.append(first)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [24]:
ohlc = [["open", "high", "low", "close"],           #195 해설 참조
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for innerlist in ohlc[1:]:      #리스트만의 장점이 있으므로 range(,,)보다 리스트[::]를 이용
    print(innerlist[-1])

100
190
310

In [27]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for innerlist in ohlc[1:]:
    if innerlist[-1]>150:
        print(innerlist[-1])

190
310

In [30]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for innerlist in ohlc[1:]:
    if innerlist[-1] >= innerlist[0]:
        print(innerlist[-1])

100
310

In [33]:
#198     #리스트 내포

ohlc = [["open", "high", "low", "close"],     
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = [innerlist[1] - innerlist[2] for innerlist in ohlc[1:]]
print(volatility)

[40, 30, 10]

In [36]:
#198       #리스트 내포 없이

volatility = []
for innerlist in ohlc[1:]:
    sub = innerlist[1] - innerlist[2]
    volatility.append(sub)
print(volatility)

[40, 30, 10]

In [38]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for innerlist in ohlc[1:]:
    if innerlist[-1] > innerlist[0]:
        print(innerlist[1] - innerlist[2])

10

In [44]:
#200

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

      #나오는 값들을 더해야할 때 쓰는 개념.    result=0.    result = result + i

result = 0
for innerlist in ohlc[1:]:              
    result = result + (innerlist[-1] - innerlist[0])
print(result)

0

### <09.함수> 201-210

In [18]:
def print_coin():
    print("비트코인")

In [19]:
print_coin()

비트코인

In [21]:
for i in range(10):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [25]:
def print_coins():
    for i in range(10):
        print("비트코인")

In [26]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

### <09.함수> 211-220

In [4]:
#215 정답
def print_with_smile (string) :
    print (string + ":D")
print_with_smile("안녕")

안녕:D

In [2]:
#215 응용
def print_with_smile():
    user = input("입력:")
    print(user + ":D")
print_with_smile()

입력: 안녕

안녕:D

In [5]:
def print_upper_price(a):
    print(a + a*0.3)
print_upper_price(1000)

1300.0

In [6]:
def print_sum(a,b):
    print(a+b)
print_sum(3,4)

7

In [9]:
def print_arithmetic_operation(a,b):
    print(a,"+",b,"=",a+b)
    print(a-b)
    print(a*b)
    print(a/b)
print_arithmetic_operation(3,6)

3 + 6 = 9
-3
18
0.5

In [ ]:
def print_max(a, b, c) :
    max_val = 0                  #숫자가 들어갈 변수=0 먼저
    if a > max_val :             #max_value  가장큰 값
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

### <09.함수> 221-230

In [12]:
def print_reverse(string):
    print(string[::-1])             #221 역순은 슬라이싱 이용
print_reverse("ohyes")

seyho

In [15]:
def print_score(args):
    print(sum(args)/len(args))
print_score ([1, 2, 3])

2.0

In [26]:
#223 정답   (찍수만 출력)
def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)

In [25]:
#223 내풀이  (짝수만 출력하여 리스트에 넣음)
def print_even(args):
    b=[]
    for i in args:
        if i%2 == 0:
            b.append(i)
    print(b)
print_even ([1, 3, 2, 10, 12, 11, 15])

[2, 10, 12]

In [31]:
def print_keys(dic):
    for keys in dic.keys():
            print(keys)
    print(dic.keys())
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별
dict_keys(['이름', '나이', '성별'])

In [34]:
#225 딕셔너리

In [36]:
#226 어려움
def print_5xn(line):                      #line: 입력하는 문자열
    chunk_num = int(len(line) / 5)        #chu  : 입력하는문자열/5 의 몫
    for x in range(chunk_num + 1) :       #0부터 입력하는문자열/5 의 몫 까지
        print(line[x * 5: x * 5 + 5])     #0부터 0+5개수만큼 출력, 1부터 1+5게수만큼 출력
print_5xn("0123456789")

01234
56789

In [ ]:
#227 어려움

### <09.함수> 231-240

In [ ]:
#231 
함수 내부에서 사용한 변수는 함수밖에서 접근 불가능. 내부 변수 결과값은 return을 사용.

In [38]:
def make_url(args):
    return print(f"www.{args}.com")
make_url("naver")

www.naver.com

In [40]:
#233

def make_list(args):
    b=[]
    for i in args:
        b.append(i)
    return b
make_list("abcd")

['a', 'b', 'c', 'd']

In [41]:
#233-1

def make_list2(args):
    return list(args)
make_list2("1234")

['1', '2', '3', '4']

In [46]:
def pickup_even(args):
    a=[i for i in args if i%2 == 0]     #234  리스트 내포
    return a
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [48]:
def pickup_even2(args):
    a = []                         #234  리스트 내포를 풀어서 쓰면
    for i in args:
        if i % 2 == 0:
            a.append(i)
    return a
pickup_even2([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [52]:
def convert_int(args):          #235문자열의 특정문자를 지우고 싶을때 .replace(전,후)
    new = args.replace(",","")
    return int(new)
convert_int("1,234,567")

1234567

In [53]:
#236-#240  OK

### <10.모듈> 241-250

In [48]:
import datetime

now = datetime.datetime.now()
print(now)

2021-10-18 02:33:30.073388

In [50]:
import datetime

now = datetime.datetime.now()
print(now)
type(now)

2021-10-18 02:34:13.213347

datetime.datetime

In [60]:
#243 - 250 모르겠음

### <11.클래스> 251-260

In [57]:
class Human:
    def __init__(self):             #변수에 self 넣기
        print("응애응애")
        
areum = Human()

응애응애

In [69]:
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print(f"이름: {self.name}, 나이: {self.age}, 성별: {self.sex}")
        
    def setinfo(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex        

areum = Human("아름", 25, "여자")
areum.who()

이름: 아름, 나이: 25, 성별: 여자

### <11.클래스> 261-270

In [83]:
class Stock:
    def __init__(self , name , code):
        self.name = name
        self.code = code
    
    def set_name(self , name):
        self.name = name
        
    def set_code(self , code):
        self.code = code
   
    def get_name(self):       
        return self.name
    
    def get_code(self):        
        return self.code
    
삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [94]:
class Stock:
    def __init__(self , name , code, PER, PBR, interest):
        self.name = name
        self.code = code
        self.PER = PER
        self.PBR = PBR
        self.interest = interest
    
    def set_name(self , name):
        self.name = name
        
    def set_code(self , code):
        self.code = code
   
    def get_name(self):       
        return self.name
    
    def get_code(self):        
        return self.code
    
    def set_per(self , PER):              #입력값이 수정될 경우 매개변수에 추가.
        self.per = PER
    
    def set_pbr(self , PBR):
        self.pbr = PBR
    
    def set_dividend(self, interest):
        self.interest = interest
    
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)

In [95]:
삼성.set_per(12.75)
print(삼성.per)

12.75

In [97]:
현대 = Stock("현대차", "005930", 15.79, 1.33, 2.83)

In [96]:
LG = Stock("LG전자", "005930", 15.79, 1.33, 2.83)

### <11.클래스> 271-280

### <11.클래스> 281-290

In [109]:
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
car=차(2,10)
print(car.바퀴)
print(car.가격)

2
10

In [110]:
class 자전차(차):
    def __init__(self,바퀴,가격,구동계):      #변수 3개
        self.구동계 = 구동계
        
bicycle = 자전차(2, 100,"시마노")      #인수 3개

print(car.바퀴)
print(car.가격)
print(bicycle.구동계)

2
10
시마노

In [112]:
#285 오답

class 자동차(차):
    def __init__(self,바퀴,가격,구동계,정보):      #변수 5개
        self.정보 = 정보

car = 자동차(4, 1000)    #변수가 2개   이므로 맞춰줘야함
print(car.정보())      #또한 car의 정보 함수를 불러오는 것이므로 정보 함수 추가해야함

TypeError: __init__() missing 2 required positional arguments: '구동계' and '정보'

In [119]:
#285
class 자동차(차):
    def 정보(self):           #바퀴와 가격 변수는 차 에서 정의 됐으므로 입력 안해도됨
        print("바퀴수:",self.바퀴)
        print("가격:",self.가격)
    
car = 자동차(4, 1000)
car.정보()

바퀴수: 4
가격: 1000

In [122]:
#286
class 자전차(차):
    def __init__(self,바퀴,가격,구동계):      #변수 3개
        self.구동계 = 구동계
    
    def 정보(self):
        print("바퀴수:",self.바퀴)
        print("가격:",self.가격)        
        
bicycle = 자전차(2, 100,"시마노")      #인수 3개
bicycle.정보()

AttributeError: '자전차' object has no attribute '바퀴'

In [123]:
#287 까지 생략

### <12.파일 입출력과 예외처리> 291-300

In [67]:
f = open("매수종목1.txt","w")
f.write("005930\n")
f.write("005380\n")
f.write("035420\n")
f.close()

In [68]:
f = open("매수종목1.txt","a")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [75]:
#294
f = open("매수종목1.txt","r")
line_list = f.readlines()
print(line_list)
f.close()

['005930\n', '005380\n', '035420\n', '005930 삼성전자\n', '005380 현대차\n', '035420 NAVER\n']

In [73]:
#294
f = open("매수종목1.txt","r")
line_list = f.readlines()     #/n이 붙어 있는 각각의 줄을 리스트로 돌려줌.

new_list = []               #각 요소의 /n을 제거하여 다시 새로운 리스트에 집어넣기.
for l in line_list:
    new_list.append(l.strip())  #문자.strip()   /n을 제거하는 함수

print(new_list)

f.close()

['005930', '005380', '035420', '005930 삼성전자', '005380 현대차', '035420 NAVER']

In [76]:
f = open("매수종목1.txt","r")
line_list = f.readlines()

data={}
new_list = []
for l in line_list[3:]:
    l = l.strip()             #문자.strip()   /n을 제거하는 함수
    
    k,v = l.split()           #문자.split() 빈칸등을 기준으로 문자를 빈으로 나눠줌
    data[k]=v                 #변수 두개 생성.
    
print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [77]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))       #이걸 시도하고 
    except:
        print(0)               #에러가 발생할 떈 이렇게 해라

10.31
0
8.0

In [79]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]